@import "./_mixins";
@import "./common";
@import "./js-nav";
@import url("https://fonts.googleapis.com/css2?family=Turret+Road:wght@200;400;700&display=swap");
.start-page {
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 100vh;
    background: url(../img/bg.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
    display: flex;
    &__title {
        @include text(36px,
        700);
        background-color: teal;
        box-shadow: 3px 0px 10px 3px rgba(124, 234, 92, 1);
    }
    &__list {
        // min-height: 78vh;
        list-style: none;
        height: 100%;
        @include flex(space-around,
        center,
        row,
        wrap);
    }
    &__list-item {
        @include flex(center,
        center,
        column);
        background-color: teal;
        border: 2px solid teal;
        box-shadow: 3px 0px 15px 3px rgba(124, 234, 92, 1);
        transition: background-color 0.3s ease-in;
        margin-right: 30px;
        &:hover {
            background-color: #fff;
            color: teal;
        }
    }
    &__list-item:last-child {
        margin-right: 0;
    }
    &__list-item-text {
        display: block;
        @include text(20px);
    }
    &__list-item-btn {
        padding: 20px 35px;
        text-decoration: none;
        line-height: 33.5px;
        @include text(26px,
        700);
        transition: color 0.5s ease;
        transition: transform 0.5s ease;
        &:hover {
            color: teal;
            transform: translateY(20px);
        }
    }
}