//colors
$white: #fff;
$black: #000;
$header-color: #2b3040;
$card-body-color: #212534;
$stars-color: #ffdd3f;
$bg-color: #292d3e;
$btn-color: #13e28d;
//fonts
$lato: "Lato",
sans-serif; //font-sizes
$h32: 32px;
$h20: 20px;
$h14: 14px;
$h12: 12px;